body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

/* Main navigation */
.nav-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #4d5ae5;
}

/* Contacts */
.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Welcome */
.welcome-section {
  background: #2e2f42;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
